server {{ chrony.server }} iburst
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
allow {{ chrony.priority_networks }}
bindcmdaddress 127.0.0.1
bindcmdaddress ::1
keyfile /etc/chrony.keys
commandkey 1
generatecommandkey
noclientlog
logchange 0.5
logdir /var/log/chrony
